<ion-content>

  <h1 class="header-module">
    Friends
  </h1>

  <ion-searchbar id="main-searchbar" mode="ios" (ionChange)="filterContacts($event.target.value)" debounce="300"
    [(ngModel)]="searchTerm"></ion-searchbar>

  <ion-list *ngIf="!searchTerm">
    <ion-item *ngFor="let contact of macthingContact" lines="none">
      <ion-avatar slot="start">
        <ngx-avatar [name]="contact.name"></ngx-avatar>
      </ion-avatar>
      <ion-label>
        <h2>{{ contact.name }}</h2>
        <p *ngIf="contact.phoneNumber; else noNumber"> {{ contact.phoneNumber[0].value }} </p>
        <ng-template #noNumber>
          <p>No number</p>
        </ng-template>
      </ion-label>
      <ion-icon *ngIf="isFriend(contact.uid)" name="close" (click)="removeFriend(contact.uid)"></ion-icon>
    </ion-item>
  </ion-list>

  <ion-list *ngIf="searchTerm">
    <ion-item *ngFor="let contact of searchedContact" lines="none">
      <ion-avatar slot="start">
        <ngx-avatar [name]="contact.name"></ngx-avatar>
      </ion-avatar>
      <ion-label>
        <h2>{{ contact.name }}</h2>
        <p *ngIf="contact.phoneNumber; else noNumber"> {{ contact.phoneNumber[0].value }} </p>
        <ng-template #noNumber>
          <p>No number</p>
        </ng-template>
      </ion-label>
      <ion-icon *ngIf="!isFriend(contact.uid)" name="person-add" (click)="addFriend(contact.uid)"></ion-icon>
    </ion-item>
  </ion-list>
  <ion-card *ngIf="(!searchTerm) && (!macthingContact) && (!haveFriend)">
    <ion-img src='http://m.memegen.com/9h3nz0.jpg'></ion-img>

    <ion-card-content>
      Aucun de tes contacts n'utilise l'application, pour trouver un amis tape son nom dans la barre de recherche puis
      ajoute le.
    </ion-card-content>
  </ion-card>

</ion-content>