h1 {
    font-size: 40px;
    font-weight: 300;
    text-align: center;
    width: 100%;
    padding: 100px 0 70px 0px;
  }

.btn-wrapper {
  justify-content: center;
	display: flex!important;
   align-items: center!important;
   height: 33%;
   flex-direction: column;
  }