<ion-content padding>

  <h1>
    Connexion
  </h1>

  <div class="btn-wrapper">

    <!-- <ion-input placeholder="+3368948712" type="tel" [(ngModel)]="phoneNumber"></ion-input> -->
    <international-phone-number class="input-phone" [(ngModel)]="userPhoneNumber" placeholder="Enter phone number"
      [maxlength]="20" [defaultCountry]="'in'" [required]="true" #phoneNumber="ngModel" name="phone_number"
      [allowedCountries]="['fr', 'ca', 'us']"></international-phone-number>
    <ion-button *ngIf="!connecting" (click)="logUser()">
      Se connecter
    </ion-button>
    <ion-spinner *ngIf="connecting" name="dots"></ion-spinner>
  </div>

</ion-content>