// http://ionicframework.com/docs/theming/
@import "~@ionic/angular/css/core.css";
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";

@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

html,
body {
  font-family: Helvetica Neue, Segoe UI, Helvetica, Arial, sans-serif;
}

// cards presentation
h1.header-module {
  font-size: 40px;
  font-weight: 300;
  text-align: center;
  width: 100%;
  padding: 100px 0 70px 0px;
}

#main-searchbar {
  display: flex;
  flex-direction: column;
  /deep/ .searchbar-input-container.sc-ion-searchbar-ios {
    width: 90%;
  }
  /deep/ .searchbar-input.sc-ion-searchbar-ios {
    border-radius: 20px !important;
  }
  padding-bottom: 20px;
}

markdown {
  p {
    margin: 0;
  }

  blockquote {
    margin: 0;
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    margin: 0;
  }
}
