.btn-wrapper {
    justify-content: center;
      display: flex!important;
     align-items: center!important;
     height: 33%;
     flex-direction: column;
    }
  
    .templateImg{
      width: 150px;
      height: 150px;
      border-radius: 50%;
    }
  
    .firstName{
      width: 33%;
      margin: auto;
      text-align: center;
    }
  
    .userImg{
      width: 150px;
      height: 150px;
    }
  
    .item{
      margin-top: 12px;
      margin-bottom: 12px;
      border: none ;
    }
  
    img{
      transform: rotate(-90deg);
    }